.btn-primary {
    background: linear-gradient(#5725ba,#7e22a5);
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fs-btn{
    font-size:13pt;
    margin-bottom:5pt;
}

.btn-primary:hover, .btn-primary:active{
    background: linear-gradient(#371778,#4d1465) ;
    border: none !important;
}

.fs{
    font-size:40pt;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50pt;
}

.pic{
    width: 70%;
}